/*
  =Components

  * Positioning
  * Box Model
  * Tipografia
  * Visual

*/
/* =Main */
.sgf-main{
   
  z-index: 0;

  padding-bottom: 100px;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  
  #sgf-header{
  
    margin: 0px;

    &.navbar{
      
      background-color: transparent;    
      margin: 0px !important;

      .sgf-header__list{
        .sgf-header__listAnchor{
          padding: 0px;
          
          .sgf-header__listIcon{
            margin: 8px 0;
            padding: 5px 9px;

            &.menu-icon{
              
              @media #{$desktop}{
                margin-top: 12px;
              }
            } 
          }

        }
      }

      .headerTop{

        background-color: $primaryColor;
        
        #logo{

        }

        #top-panel{
          .navbar-nav{
            margin: 0px;
          }
        }
      }
    }
  }
}

.sgf-header__logo{
  left: 50%;
  margin: -42px 0 0 -60px;
  position: absolute;
  top: 50%;
}

.sgf-header__list{
  &.nav{
    margin: 0px;   
  }

  >li{

    .dropdown-menu{
      display: none;
    }

    &.open{
      .dropdown-menu{
        display: block !important;
      }
    }
  }
}

.sgf-header__listAnchor{
  padding: 0px;

  &.account{
    
    background-color: transparent !important;
    color: $primaryColor;

    &:focus{
      background-color: rgba(240,240,240,0.2) !important;
    }
  }
}

.sgf-header__listIcon{
  padding: 5px 9px;
}

.sgf-header__box{
  font-size: 1.4rem;
  padding: 0 10px;
}

.sgf-header__dropdown{
  li{
    a{
      padding: 10px !important;
    }
  }
}


/* =Table */
.sgf__table{

  tfoot{
    display: none;
  }
}

.sgf__table--container{

  @media #{$tiny}{
    overflow-x: auto;
  }
}


/* =Box Component */
.sgf__box{
  
  display: block;
  width: 100%;

  font-size: 1.4rem;

  border: 1px solid #eee;
}

.sgf__box--title{
  
  padding: 10px 15px 0;

  color: #333;  

  .holder{
    
    padding-bottom: 10px;
    
    font-size: 1.6rem;

    border-bottom: 1px solid #ccc;

  }
}

.sgf__box--content{
  display: block;
  width: 100%;

  padding: 15px;
}

.sgf__box--options{
  
  @media #{$desktop}{
    margin-top: 5px;
  }
}

.sgf__label{
   >label, >select, >input{
    width: 100%;
   }
}


/* messages */
.sgf--warn{
  @extend .sgf__message;
  
  margin: 15px 0;
  padding: 10px;

  background-color: $sgf-warn;

}

.sgf__message--signInfo{
  @media #{$tiny}{
    max-width: 200px;
  }
}

/* search */

.sgf__btn{
  
  border: none;
  
  @media #{$tiny}{
    margin-top: 10px;
    width: 100%;
  }

  @media #{$desktop}{
    float: right;
    margin-left: 15px;      
  }
}

.sgf__search{
    
    @extend .sgf__btn;
    
    @media #{$desktop}{
      margin-top: 15px;      
    } 

}

.sgf__btn--confirm{
    color: #fff;
    
    background-color: $cardDefaultBackgroundColor;
}

.btn__cancel{
  @extend .sgf__btn;   
}

/* 
  =Footer Main Control 

  Controle que ficará fixo em smartphones pra mostrar mini botões para agilizar e 
  facilitar os acessos.
*/

.sgf__footerControl{
  
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 101;  

  font-size: 10px;

  overflow-x: auto;
  width: 100%;
  
  background-color: $primaryColor;

  .holder{
    display: table;
    height: 100%;
    width: 100%;  
  }
  
}

.sgf__footerTabList{  
  display: table-row;
  list-style: none;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  li{
    
    position: relative;

    display: table-cell;
    vertical-align: middle;

    text-align: center;   
    
  }
}

.sgf__footerTabList--link{
 
  display: block;
  padding: 10px;

  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  
  i{
    font-size: 24px;
  }

  span{
    display: block;
  }

}

/*
  =PortalSGO - Card
*/
.portalSGO-card {
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border: 0px !important;
}

.portalSGO-card-heading {
    
    display: table;
    height: 34px;
    width: 100%;
    
    padding: 0px !important;

    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    border: #337ab7 solid 1px !important;
    font-size: 16px;
    
    a{
      display: table;
      height: 100%;
      width: 100%;  

      padding: 5px 10px !important;
      
      color: $colorWhite;
        
    }    
    
}

.portalSGO-card-heading-mobile {
    background-color: #0f70c4;
    color: #fff;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    display: table !important;
    width: 100%;
    padding: 8px;
}

.portalSGO-card-heading > span {
    display: table-cell;
    width: 100%;
}

.portalSGO-card-body {
    padding: 20px 10px 5px 15px;
}

.portalSGO-card-body > p {
    margin: 0px !important;
    font-size: 13px;
    padding-bottom: 8px;
}

.portalSGO-card-body > div > a {
    display: table !important;
}

.portalSGO-card-body > div > a > span {
    display: table-cell !important;
    width: 100%;
}

.portalSGO-card-body-main {
    padding: 15px;
}

.portalSGO-card-body-main-mobile {
    padding: 0px !important;
    padding-top: 5px !important;
    border: 0px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .portalSGO-card-body-main {
        padding-top: 30px;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {

    .portalSGO-card-body-main {
        padding: 15px !important;
    }
}


.portalSGO-card-body a {    
    font-size: 12px;
    text-decoration: none !important;    
}

.portalSGO-card-footer {
    padding: 5px !important;
    padding-top: 10px !important;
    background-color: transparent !important;
    border-top: 0px !important;
    vertical-align: top !important;
}

.portalSGO-card-footer a {
    font-size: x-small;
}

.portalSGO-btn-cards {
    text-shadow: none;
    background-image: none;
    border-color: none;
    border-bottom-color: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: center;
    border: 0px;
    font-size: x-small;
    text-transform: uppercase !important;
    display: inline-block !important;
    background-color: #4686BD;
    line-height: 1.4;
}

.portalSGO-btn-cards:hover,
.portalSGO-btn-cards:focus,
.portalSGO-btn-cards:active {
    background-color: #337ab7; /*background-image: none;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.portalSGO-btn-cards-opcoes {
    text-shadow: none;
    background-image: none;
    border-color: none;
    border-bottom-color: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: center;
    border: 0px;
    font-size: x-small;
    text-transform: uppercase !important;
    display: inline-block !important;
    /*background-color: #4686BD;*/
    color: #4686BD;
    line-height: 1.4;
}

.portalSGO-btn-cards-opcoes:hover,
.portalSGO-btn-cards-opcoes:focus,
.portalSGO-btn-cards-opcoes:active {
    /*background-image: none;*/
    color: $primaryColor !important;
    background-color: transparent !important;
}

.portalSGO-card-heading-mobile.cursor-pointer:after {
    font-family: 'FontAwesome';
    content: "\f0d8";
    float: right;
    color: white;
    font-size: 11px;
    margin-top: 0px;
}

.portalSGO-card-heading-mobile.cursor-pointer.collapsed:after {
    content: "\f0d7";
    font-size: 11px;
}


/* 
  =MainMenu Components 
*/
.divUnidadeTitulo {
    /*font-weight:bold;*/
    //padding: 4px 5px 0px 0px;
}

.divUnidadeValue {
    position: relative;
    font-size: 9px;
}

.divAmbienteTitulo {
    /*font-weight:bold;*/
    //padding: 0px 5px 0px 0px;
}

.divAmbienteValue {
    //padding-top: 4px;
    clear: both;
    font-size: 9px;
}

#divBodyMobile {
    background-color: #fff;
    border: 1px solid #E7E7E7;
    padding-left: 0px;
    padding-right: 0px;
}

.display-nenhuma-funcionalidade {
    text-align: center;
    color: #4f4a4a;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
}

/* 
  =Favorito 
*/
#containerMenusFavoritos {
    border: 15px solid #cfcdcd;
}

.menu-Favorito-Pai {
    background-color: #337AB7;
}

.div-item-menu-Favorito-Pai {
    cursor: pointer !important;
    display: table !important;
    display: block;
    padding: 3px 20px 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: normal;
    cursor: default !important;
}

.a-item-menu-Favorito-Gerenciar {
    color: #337ab7 !important;
}

.a-item-menu-Favorito-Gerenciar:focus,
.a-item-menu-Favorito-Gerenciar:hover {
    color: #23527c !important;
}

.a-item-menu-Favorito-Pai {
    cursor: pointer !important;
    display: table !important;
}

.a-item-menu-Favorito-Pai:focus,
.a-item-menu-Favorito-Pai:hover {
    color: $colorWhite !important;
    text-decoration: none !important;
    background-color: #23527c !important;
}

.a-item-menu-Favorito {
    color: #337ab7 !important;
    padding-left: 20px !important;
    width: 100%;
    display: table !important;
}

.a-item-menu-Favorito:focus,
.a-item-menu-Favorito:hover {
    color: #555 !important;
    text-decoration: none !important;
    background-color: #f5f5f5 !important;
}

/*
    =Favoritos
*/
.li-nenhum-favorito {
    display: table !important;
    padding: 10px !important;
    color: #4f4a4a !important;
}

.li-nenhum-favorito > i {
    display: table-cell !important;
    vertical-align: middle !important;
}

.li-nenhum-favorito > div {
    display: table-cell;
    text-align: left;
    width: 100%;
    padding-left: 8px;
}


#btnmenusFavoritos {
    height: 30px;
    min-height: 30px;
    min-width: 34px;
    padding-bottom: 1px;
    color: #F8F8F8;
}

#btnmenusFavoritos:focus,
#btnmenusFavoritos:hover {
    color: #4686BD;
}



/*
  =Notifications
*/

.notificationsSGO-badge {
    position: absolute;
    top: -4px;
    right: 52px;
    display: none;
    border: 1px solid #8f2522;
    padding: 1px;
    width: 15px;
    background: #e23935;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    background-image: -webkit-linear-gradient(top, #e23935 0%, #b92c28 100%);
    background-image: -moz-linear-gradient(top, #e23935 0%, #b92c28 100%);
    background-image: -o-linear-gradient(top, #e23935 0%, #b92c28 100%);
    background-image: linear-gradient(to bottom, #e23935 0%, #b92c28 100%);
    -webkit-box-shadow: 0 1px 0 #b94a48 inset;
    -moz-box-shadow: 0 1px 0 #b94a48 inset;
    box-shadow: 0 1px 0 #b94a48 inset;
    color: #fff;
    font-size: .6em;
    font-weight: normal;
    text-align: center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

@media (max-width: 768px) {

    .notificationsSGO-badge {
        right: 46px;
    }
}


.notificationsSGO-badge.is-visible {
    display: block;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#btnNotificacoesSGO {    
    height: 30px;
    min-height: 30px;
    min-width: 34px;
    padding: 5px 10px 1px 10px !important;
    color: #F8F8F8;
}

#btnNotificacoesSGO:focus,
#btnNotificacoesSGO:hover {
    color: #4686BD;
}

.icon-notificationsSGO {
    display: inline-block;
    padding: 1px 1px 1px 0px;
    font-size: 8px;
    font-weight: normal;
    line-height: 1;
    color: #fff !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #c9302c;
    border-radius: 0px;
    margin-bottom: 3px;
    position: absolute;
    top: 0px;
    left: 36%;
    cursor: pointer;
    z-index: 0;
    width: 11px;
    height: 9px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif !important;
}

.dropdown-menu-Notificacoes {
    padding: 0px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 0px;
    -webkit-border-radius: none;
    min-width: 240px !important;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px !important;
}

.a-item-menu-Notificacoes {
    color: #337ab7 !important;
    width: 100%;
    height: 100%;
    display: table !important;
    margin-top: -16px;
    padding: 10px !important;
}

@-moz-document url-prefix() {
    .a-item-menu-Notificacoes {
        margin-top: 0px !important;
    }
}

.a-item-menu-Notificacoes:focus,
.a-item-menu-Notificacoes:hover {
    color: #555 !important;
    text-decoration: none !important;
    background-color: #f5f5f5 !important;
    padding: 10px !important;
}

.box-notificacoes {
    min-height: 150px !important;
    padding-bottom: 30px;
    border-radius: 0px !important;
}


.box-notificacoes .button-box {
    width: 100%;
    height: 100%;
    background-color: #337AB7;
    /*background: -webkit-linear-gradient(#0081C2,#045FB4);
    background: -o-linear-gradient(#0081C2,#045FB4); 
    background: -moz-linear-gradient(#0081C2,#045FB4); 
    background: linear-gradient(#0081C2,#045FB4);*/
    color: #FFFFFF;
    border-radius: 0px !important;
    padding: 4px;
}

.box-notificacoes .button-box .border-box {
    border: 1px solid #3a8dd4 !important;
    padding: 10px;
}

.box-notificacoes .button-box .border-box .count-item {
    font-size: 40px;
    text-align: center;
    font-family: Times New Roman;
    vertical-align: middle;
}

.box-notificacoes .button-box .border-box .notification-name {
    font-size: 17px;
    text-align: center;
    font-family: Times New Roman;
    vertical-align: middle;
    /*height: 100%;*/
    white-space: pre-line;
}

.list-group-item{
  .status{

    display: inline-block;
    
    height: 10px;
    width: 10px;

    &:before{
      font-family: 'FontAwesome';
      content: "\f107"; 
    }
  }

  &.collapsed{
    .status{
      &:before{
        content: "\f105"; 
      }
    }
  }
}

/* =Bookmark */
.sgf__bookmark{

  position: absolute !important;
  right: 0px;
  top: 0px;
  z-index: 5;

  &:hover{
    background-color: transparent !important;
  }
}

/* =Submenu */
.sgf__submenu{
    li{
      a{
        position: relative;
        &.menu-sub-item{
          padding: 10px 40px;
        }
      }
    }
}


/* =Timer */
.sgf__timer{
  font-size: 1.2rem;
  margin-right: 5px;

  @media #{$smartphone}{
    margin-right: 20px;
  }
}

/* =Panel */
.panel-menu{
  .sgf__cardUser{
      
      @media #{$smartphone}{
       width: 60vw !important;
      }

      @media #{$desktop}{
        width: 250px !important;
      }     
      
      position: relative;

      margin-top: 10px !important;
      
      border: 0.5px solid #437aaa !important;   

      &:after, &:before{
        bottom: 100%;

        @media #{$smartphone}{
          right: 12px;
        }
        
        @media #{$desktop}{
          margin-left: 5px;
          left: 50%;
        }

        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after{
        border-color: transparent;
        border-bottom-color: #437aaa;
        border-width: 10px;
        margin-left: -10px; 
      }

      &:before{
        border-color: transparent;
        border-bottom-color: #437aaa;
        border-width: 10px;
        margin-left: -10px;
      }
  }

  .sgf__informationPanel{
    margin: 0px;
    padding: 10px !important;
  }
}

.sgf__mainMenu{
  
  margin-top: 10px;
  padding: 10px !important;
  
  background-color: #0f70c4;
  border-top: 1px solid #fff;


  li{
    list-style: none;
    margin-bottom: 5px;
    a{
      color: $colorWhite;
    }
  }
}

/* =SGF Panel */
.sgf__panel{
  
  .panel-title{
    font-size: 1.4rem;
  }
   
}


.sgf__table{
  
  border: none !important;

  thead{
    tr{
      th{
        font-size: 1.2rem;
        border: none;
      }
    }
  }

  tbody{
    tr{
      td{
        font-size: 1.2rem;
      }
    }
  }

  @media #{$smartphone}{
    min-width: 570px;
  }
}

.dataTables_length, .dataTables_filter{


  @media #{$smartphone}{
    
    width: 100%;
    
    label, select, input{
      
      display: block;

      width: 100%;

      margin: 0px;

      text-align: left;
    }

    label{
      input{
        margin: 0px;
      }
    }
  }
}

.dataTables_wrapper{
  .dataTables_filter{
    @media #{$smartphone}{
      input{
        margin: 0px;

        text-align: left;
      }
    }
  }
} 

.sgf__tableWrapper{
   // overflow-x: scroll;
}

.dataTables_info{
  display: none;
}


/*
  =Components

  * Positioning
  * Box Model
  * Tipografia
  * Visual
  * Misc  
*/