/* 
*	=External Sources
*/

.dataTables_length, .dataTables_filter{
	
	>label{
		
		@media #{$tiny}{
			width: 100%;
		}

		@media #{$desktop}{
			width: 50%;
		}

		>input, >select{
			&.form-control{
				margin-top: 5px;
				width: 100%;
			}
		}
	}
}

.dataTables_wrapper{
	>[class*="col-"]{
    	
	}
}

.dataTables_filter{

	@media #{$desktop}{
		text-align: right;
	}

	&:after{
		
		position: absolute;
		right: 25px;
		top: 30px;
		
		color: #ccc;
		font-family: 'FontAwesome';
		font-size: 14px;

		content: '\f002';
	}
}

.dataTables_paginate{
	.pagination{
		margin: 0px;
	}
}

.dataTables_info, .dataTables_paginate{
	@media #{$desktop}{
		margin-top: 20px !important;
	}	
}

.dataTables_info{
	@media #{$tiny}{
		margin: 15px 0 !important; 
		text-align: center;
	}
}

.dataTables_paginate{

	@media #{$tiny}{
		text-align: center;
	}

	@media #{$desktop}{
		text-align: right;
	}
}


/* =Select 2*/
.select2-container{
	width: 100% !important;
}

.select2-selection--single{
	border-radius: 0px !important;
	height: 32px !important;
}