.font-smooth{
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
}

////
// Image Replacement
////
.image-replace{
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  background-size: contain;
}

////
// Centering elements
////
.center-vertical{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0;
  }
}

.sgf__message{
  display: block;
    
  width: 100%;
  font-size: 1.2rem;
}


.portalSGO-card-2 {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.portalSGO-card-4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.portalSGO-card-8 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.portalSGO-card-12 {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.portalSGO-card-16 {
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21) !important;
}

.portalSGO-card-24 {
    box-shadow: 0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22) !important;
}