$primaryColor: #0075c1;

$cardDefaultBackgroundColor: #0075c1;
$cardTextDefaultColor: #fff;


$pallete1: #0075c1;
$pallete2: #076cad;

$tiny: "only screen and (max-width : 480px)";
$small: "only screen and (min-width : 481px) and (max-width: 768px)";
$medium: "only screen and (min-width : 767px) and (max-width: 991px)";
$large: "only screen and (min-width : 991px) and (max-width: 1191px)";
$extralarge: "only screen and (min-width : 1191px)";

$desktop: "only screen and (min-width : 767px)";


/* 
	Menu Variables 
*/

$mainColorMenuItem: #337ab7;


/* =Helpers Color */
$sgf-warn: #fcf8e3;


/* =Box Title */
$sgf-boxColor: #054277;