// =Media Queries 
$tiny: "only screen and (max-width : 480px)";
$small: "only screen and (min-width : 481px) and (max-width: 768px)";
$medium: "only screen and (min-width : 767px) and (max-width: 991px)";
$large: "only screen and (min-width : 991px) and (max-width: 1191px)";
$extralarge: "only screen and (min-width : 1191px)";

$smartphone: "only screen and (min-width : 320px) and (max-width: 561px)";
$desktop: "only screen and (min-width : 767px)";


/*
   =Misc
*/
$primaryColor: #0f70c4;
$secondaryColor: #337ab7;

$textColor: #333;

$colorWhite: #fff;

$colorError: #b94a48;


$cardDefaultBackgroundColor: #fff;

/* 
   =Validation Forms
*/
$sgfFormError: #b94a48;
$sgf-warn: #f9ba58;


/*
	=Home 
*/

$headerFixedPadding: 95px;


