/* 

	Sebrae / Totvs CSS file Information
	Author: Michael Nakashima
	Create data: 08-06-2017
	Description: The css file from SaS used at Sebrae Sites

	
	===== MENU =====
	*1 =1 =body
	   =  =Utils
*/

@import "_shortcuts";
@import "_variables";
@import "_helpers";
@import "_external";
@import "_form-helpers";
@import "_components";
@import "_legacy";

body{
  
  padding-top: 105px;
  overflow-x: hidden;

  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Lato", "Helvetica", "Arial" , sans-serif;
  font-size: 10px;
}


/* 
	=Site 
*/

.sgf__informationPanel{
	margin-top: 8px;

	color: $colorWhite;
}


.sgf__sidebar{

	height: 100%;

	background-color: #e7e7e7;  

	&.sidebar-left{
		-webkit-transform: translate(-100%,0);
	    -moz-transform: translate(-100%,0);
	    -ms-transform: translate(-100%,0);
	    -o-transform: translate(-100%,0);
	    transform: translate(-100%,0);
	} 

	&.sidebar-animate{
		webkit-transition: -webkit-transform 300ms ease;
	    -moz-transition: -moz-transform 300ms ease;
	    -o-transition: transform 300ms ease;
	    transition: transform 300ms ease;
	} 
	
	&.sidebar-open{
		-webkit-transform: translate(0,0);
	    -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	    -o-transform: translate(0,0);
	    transform: translate(0,0);
	}

	.panel{
		border: none;
	}

	.panel-heading{
		background-color: $secondaryColor;
		border-radius: 0px;	

		color: $colorWhite;

		.panel-title{
			font-size: 1.4rem;
		}
	}

	.panel-collapse{
		.list-menu{
			margin: 0px;
			padding: 0px;

			li{
				list-style: none;

				a{
					border: none;

					font-size: 1.2rem;
				}
			}
		}
	}

	@media #{$smartphone}{
		width: 75vw;
	}

	@media #{$desktop}{
		width: 25vw;
	}
}

.sgf__breadcrumb{
	margin: 5px 0;
}

.sgf__button{
	margin-left: 5px;
}

.required::after {
    content: " *";
    font-weight: bold;
    color: red;
}